<h2>{{titulo}}</h2>

<label>Id:</label><br/>
<input type="text" [(ngModel)]="produto.id"><br/>
<label>Nome:</label><br/>
<input type="text" [(ngModel)]="produto.nome"><br/>
<label>Marca:</label><br/>
<input type="text" [(ngModel)]="produto.marca"><br/>
<label>Preço:</label><br/>
<input type="number" [(ngModel)]="produto.preco"><br/>
<label>Validade:</label><br/>
<input type="date" [(ngModel)]="produto.dataValidade"><br/>
<button (click)="salvarProduto()">Salvar</button>
<button (click)="cancelar()">value="Cancelar"</button>
