<label>Preco (Maior que):</label><br/>
<input type="number" [(ngModel)]="preco"><br/>


<table>
    <tr>
        <th>NOME</th>
        <th>MARCA</th>
        <th>PREÇO</th>
        <th>VALIDADE</th>
    </tr>
    <tr *ngFor='let prod of (produtos|filtroPreco:preco)'>
        <td>{{prod.nome}}</td>
        <td>{{prod.marca | uppercase}}</td>
        <!-- <td>{{prod.preco | currency:'BRL'}}</td> -->
        <td>{{prod.preco | moeda}}</td>
        <td>{{prod.dataValidade | date:'dd/MM/yyyy'}}</td>
        <td><button [routerLink]="'/edit/'+prod.id">Editar</button></td>
        <td><button [routerLink]="" (click)="deletar(prod.id)">Excluir</button> </td>
    </tr>
</table>

<button class="btn btn-outline-success my-2 my-sm-0" routerLink="/novo">Novo Produto</button>
